*{
    margin: 0px;
    padding: 0px;
}

body{
    font-family: 'Open Sans', sans-serif;
    background: white;
}

#container{
    width: 95%;
    margin: 0px auto;
}

header{
    height: 100px;
    width: 100%;
    text-align: center;
    line-height: 100px;
}

nav{
    background: lightgray;
    height: 50px;
    margin-bottom: 15px;
}

nav ul{
    list-style: none;
    background: lightgray;
    padding: 0;
    margin: 0;
    text-align: center;
}

nav li{
    display: inline-block;
}

nav a{
    text-decoration: none;
    color: black;
    width: 100px;
    display: block;
    padding: 25px 20px;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
}

nav a:hover{
    background: black;
    color: white;
}

a:active{
    transform: translateY(-4px);
}

.clearfix{
    clear: both;
}

#contenido{
    float: left;
    width: calc(100% - 20px);
    padding: 10px;
}

.articulo{
    margin-top: 15px;
    margin-bottom: 15px;
    text-align: justify;
    float: left;
    width: 45%;
}

.articulo2 {
    float: left;
    text-align: justify;
}

.articulo3 {
    float: right;
    width: 49%;
    margin-top: 15px;
    text-align: justify;
}

.articulo4 {
    margin-top: 15px;
    float: left;
    width: 49%;
    text-align: justify;
}

#img img{
    margin-top: 15px;
    margin-right: 50px;
    width: 50%;
    float: right;
}

#img2 img{
    width: 35%;
    margin-left: 100px;
}


footer{
    border-top: 1px solid black;
    text-align: center;
    height: 50px;
    line-height: 50px;
}

footer ul{
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

footer li{
    display: inline-block;
}

footer p{
    text-decoration: none;
    color: black;
    display: block;
    padding: 5px 75px;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
}

@media (max-width: 700px){
    #container{
        width: 95%;
        margin: 0px auto;
    }

    .articulo{
        margin-top: 15px;
        margin-bottom: 15px;
        text-align: justify;
        width: 95%;
    }

    .articulo2 {
        text-align: justify;
        width: 95%
    }
    
    .articulo3 {
        width: 95%;
        float: left;
        text-align: justify;
    }
    
    .articulo4 {
        margin-top: 15px;
        width: 95%;
        text-align: justify;
    }

    #img img{
        margin-top: 15px;
        margin-right: 50px;
        width: 80%
    }

    #img2 img{
        margin-top: 15px;
        margin-right: 50px;
        width: 50%;
        float: left;
    }

    nav{
        background: lightgray;
        margin-bottom: 15px;
        display: inline;
        width: 50%;
        height: 50px;
    }
}

@media (min-width: 700px) and (max-width: 1350px){
    #container{
        width: 95%;
        margin: 0px auto;
    }

    .articulo{
        margin-top: 15px;
        margin-bottom: 15px;
        text-align: justify;
        width: 95%;
    }

    .articulo2 {
        text-align: justify;
        width: 95%
    }
    
    .articulo3 {
        width: 95%;
        float: left;
        text-align: justify;
    }
    
    .articulo4 {
        margin-top: 15px;
        width: 95%;
        text-align: justify;
    }

    #img img{
        margin-top: 15px;
        margin-right: 50px;
        width: 80%
    }

    #img2 img{
        margin-top: 15px;
        margin-right: 50px;
        width: 50%;
        float: left;
    }

    nav{
        background: lightgray;
        margin-bottom: 15px;
        display: inline;
        width: 50%;
        height: 50px;
    }
}
